:host{
  display: flex;
  flex-direction: row;
}

mat-card:first-child {
  margin-right: 1rem;
  flex-grow: 2;
}

mat-card {
  flex: 1;
}

strong {
  font-size: large;
}

mat-divider {
  width: 90%!important;
  margin-top: 1rem;
  margin-left: 5%;
}

.dates {
  margin-top: 2rem;
  justify-content: space-between;
  margin-bottom: 5px;
}

.nights {
  flex: 1;
  justify-content: center;
}

.guests {
  margin-top: 2rem;
  flex-direction: row;
  align-items: center;
  label {
    font-size: larger;
  }
}

.total {
  margin-top: 2rem;
  flex: 1;
  justify-content: flex-end;
  font-size: xx-large;
  font-weight: bolder;
}

.mat-icon{
  width: 20px;
  height: 20px;
}

.material-icons {
  font-size: 20px;
}
