<mat-card>
  <h3>Review trip details and adjust options if needed</h3>
  <div class="dates d-flex space-between">
    <label>
      From:<strong>2020-12-12</strong>
    </label>
    <mat-icon aria-hidden="false" aria-label="Example home icon">calendar_today</mat-icon>
    <span>
      To:<strong>2020-12-14</strong>
    </span>
  </div>
  <label class="nights d-flex">11 nights</label>
  <div class="guests d-flex align-center">
    <mat-icon aria-hidden="false" aria-label="Example home icon">person</mat-icon>
    <label>&nbsp;2 guests</label>
  </div>
  <div class="total d-flex">
    <label>$100</label>
  </div>
</mat-card>
<mat-card>
  <slr-listing-information [listingInformation]="listingInformation$ | async">
  </slr-listing-information>
  <mat-divider></mat-divider>
  <slr-reservation-input></slr-reservation-input>
</mat-card>
